// Jekyll does not generate the right markup
// TODO figure out how to make Bootstrap build scale things down

$font-size-h1: 20px;
$font-size-h2: 18px;
$font-size-h3: 18px;
$font-size-base: 16px;

@import "variables";
@import "bootstrap";
@import "bootstrap/theme";

// My CSS overrides
@import "site";
