.self-link {
  text-decoration: none;
  color: #000;
}

.intro {
  padding-top: 10px;
  color: #999;
  font-family: 'Helvetica', sans-serif;
}

article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  background-color: white;
  padding-bottom: 10px;
}