body {
  // https://css-tricks.com/snippets/css/better-helvetica/
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.self-link {
  text-decoration: none;
  color: #000;
}

.intro {
  padding-top: 10px;
  color: #999;

  & > * {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

  .lead {
    margin-bottom: 0;
  }

  .col-sm-10 {
    margin-left: -10px;
  }
}

blockquote {
  font-size: 16px;
}

article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  background-color: white;
  padding-bottom: 10px;
}

table {
  margin: 10px 0 10px -10px;
  border-collapse: separate;;
  border-spacing: 10px 5px;
}

.footer {
  margin: 20px 0;
}