body {
  // https://css-tricks.com/snippets/css/better-helvetica/
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  font-family: Palatino, Helvetica, Arial, "Lucida Grande", sans-serif;
}

.self-link {
  text-decoration: none;
  color: #000;
}

.intro {
  padding-top: 10px;
  margin-bottom: 20px;

  color: #999;

  & > * {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

  .lead {
    margin-bottom: 0;
  }

}

@media screen and (min-width: 480px) {
  .intro .col-sm-10 {
    margin-left: -10px;
  }
}


blockquote {
  font-size: 16px;
  margin: 0 0 11px;
}

article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  background-color: white;
  padding-bottom: 10px;
}

table {
  margin: 10px 0 10px -10px;
  border-collapse: separate;;
  border-spacing: 10px 5px;
}

.footer {
  margin: 20px 0;
}

.theorem {
  display: block;
  font-style: italic;
}

.theorem:before {
  content: "Theorem. ";
  font-weight: bold;
  font-style: normal;
}

.theorem[text]:before {
  content: "Theorem (" attr(text) ") ";
}

.lemma {
  display: block;
  font-style: italic;
}

.lemma:before {
  content: "Lemma. ";
  font-weight: bold;
  font-style: normal;
}

.lemma[text]:before {
  content: "Lemma (" attr(text) ") ";
}
