code {
  line-height: 20px;
  font-weight: normal;
  background: #FFF;
}

.highlight {
  padding: 10px 0px;
}

.self-link {
  text-decoration: none;
  color: #000;
}

article {
  // Overwrite some Foundation styles within <article> tags so that markdown can work
  // correctly (e.g. specify one # for a header) and not look too ridiculous on the page.
  //
  // It really would be better to fix Jekyll to generate tags with the correct
  // Foundation typography.

  h1 {
    font-size: ms(3);
  }

  h2 {
    font-size: ms(2);
  }

  h3 {
    font-size: ms(1);
  }

  // From ul.disc, couldn't figure out how to include the style
  ul {
    list-style-type: disc;
    margin-left: 17px;
  }
}