code {
  line-height: 20px;
  font-weight: normal;
  background: #FFF;
}

.highlight {
  padding: 10px 0px;
}

.self-link {
  text-decoration: none;
  color: #000;
}

article h1 {
  font-size: ms(3);
}

article h2 {
  font-size: ms(2);
}

article h3 {
  font-size: ms(1);
}
