---
title: Dave King
layout: default
---

{% assign lastpost = site.posts.first %}

{% include header.html %}

<article>
  {% markdown %}
Hi there, I'm Dave, a software person.  I grew up in New Jersey, went to the University of Illinois at Urbana-Champaign, then went to Penn State for grad school.  I've lived in Blacksburg, Oakland, and now I live in Durham, North Carolina.

I'm a long-time programmer - I began programming when I was 8 writing text adventures in GWBASIC on my school's computer.  In junior high I wrote text adventure games in QBASIC.  In high school I wrote some RPG frameworks in Visual Basic.  In college I wrote MUSHcode for PennMUSH including the guts of an extremely involved space system.  In grad school I wrote a [chess engine](https://github.com/tildedave/apep-chess-engine).  The [day job](https://chartio.com/) tends to be some combination of JavaScript, Python, and Java - all objectively better technologies, all far less fun.

In my spare time I <a href="reading.html">read</a>, exercise, and backpack.  Over the last year I've been learning more abstract algebra and number theory, and hacking on a [new chess engine](https://github.com/tildedave/ra-chess-engine).

  {% endmarkdown %}
  <p></p>

  <h1>Recent Blog Articles</h1>
    {% for post in site.posts limit:5 %}
    {% if post.is_unlisted %}
    {% else %}
    <div class="row">
      <div class="col-xs-3"><span>{{ post.date | date_to_string }}</span></div>
      <div class="col-xs-9"><a href="{{ post.url }}">{{ post.title }}</a></div>
    </div>
    {% endif %}
    {% endfor %}

  <h1></h1>
  <ul>
  </ul>

  <div class="footer">
    <a rel="posts" href="/posts.html">Blog Archives</a> | <a href="{{ site.rss }}">RSS</a>.
  </div>
</article>
