---
title: Dave King
layout: default
---

{% assign lastpost = site.posts.first %}

<div class="row intro">
  <div class="col-sm-10 col-xs-12">
    <p class="lead">
      Hi, I'm <a href="/me.html">Dave King</a>, a software professional living in Oakland, CA.  Runner, backpacker, history buff.
    </p>
  </div>
  <div class="hidden-xs col-sm-2">
    <a href="/">
      <img src="{{ site.picture }}" alt="Picture of blog author" class="img-circle img-responsive intro-picture">
    </a>
  </div>
</div>

<article>
  {% markdown %}
Software person in the Bay Area.  I moved out here in 2014 after living in Blacksburg, Virginia for five years, which I had moved to after finishing up grad school at Penn State.

I began programming when I was 8 writing text adventures in GWBASIC on my school's computer.  The [day job](https://chartio.com/) tends to be some combination of JavaScript, Python, and Java - all objectively better technologies, all far less fun.

In my spare time I backpack, read, and program.  A favorite personal project is to write programs that play chess and I've written two so far: [one in C++](https://github.com/tildedave/apep-chess-engine) and [one in Golang](https://github.com/tildedave/ra-chess-engine).  Over the last year I've been trying to learn more abstract algebra and number theory.
  {% endmarkdown %}
  <p></p>

  <h1>Recent Blog Articles</h1>
    {% for post in site.posts limit:5 %}
    {% if post.is_unlisted %}
    {% else %}
    <div class="row">
      <div class="col-xs-3"><span>{{ post.date | date_to_string }}</span></div>
      <div class="col-xs-9"><a href="{{ post.url }}">{{ post.title }}</a></div>
    </div>
    {% endif %}
    {% endfor %}

  {% markdown %}

# Books I've Read This Year (2018)

* _The Reactionary Mind_, Corey Robin
* _God-Emperor of Dune_, Frank Herbert
* _Children of Dune_, Frank Herbert
* _Misquoting Jesus_, Bart D. Ehrman
* _Dune Messiah_, Frank Herbert
* _Dune_, Frank Herbert
* _The Dispossessed_, Ursula Le Guin
* _The Left Hand of Darkness_, Ursula Le Guin
* _A Distant Mirror_, Barbara Tuchman
* _Why The West Rules For Now_, Ian Morris

  {% endmarkdown %}
  <h1></h1>
  <ul>
  </ul>

  <div class="footer">
    <a rel="posts" href="/posts.html">Blog Archives</a> | <a href="{{ site.rss }}">RSS</a>.
  </div>
</article>
