<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>{{ page.title }}</title>
    <link href="/stylesheets/app.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/syntax.css"></link>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}"></link>
    {% if page.url == "/index.html" %}
    <meta name="description" content="Dave King is a software professional living in Oakland, CA.  He writes about software design, thinking techniques, and team processes.">
    {% else %}
    <meta name="description" content="{{ page.content | strip_html | truncatewords: 200 | strip_newlines | escape_once }}" />
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <div class="row intro">
        <div class="hidden-xs col-sm-2">
          <a href="/">
            <img src="{{ site.picture }}" alt="Picture of blog author" class="img-circle img-responsive intro-picture">
          </a>
        </div>
        <div class="hidden-xs col-sm-10">
          <p class="lead">
            Hi, I'm <a href="/me.html">Dave King</a>, a software professional living in Oakland, CA.  I love to build things.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {{ content }}
        </div>
      </div>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22072176-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
