---
layout: default
---

<div class="row intro">
  <div class="hidden-xs col-sm-9">
    <p class="lead">
      Hi, I'm <a href="/me.html">Dave King</a>, a software professional living in Oakland, CA.  Runner, backpacker, nerd.
    </p>
  </div>
  <div class="hidden-xs col-sm-2">
    <a href="/">
      <img src="{{ site.picture }}" alt="Picture of blog author" class="img-circle img-responsive intro-picture">
    </a>
  </div>
</div>

<article>

  <h1 class="post-title"><a href="{{page.url}}" class="self-link">{{page.title}}</a></h1>

  <div class="post-content">
    {{content}}
  </div>

  {% include navigation.html %}

  {% if page.comments %}
    {% include disqus.html %}
  {% endif %}
</article>
